
.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.div__p{
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.red{
    background: red;
}
.green{
    background: rgb(158, 231, 48);
}
.fuchsia{
    background: fuchsia;
}








